[submodule "lib/hzzp"]
	path = lib/hzzp
	url = https://github.com/truemedian/hzzp
[submodule "lib/zig-bearssl"]
	path = lib/zig-bearssl
	url = https://github.com/fengb/zig-bearssl
	branch = patch-1
[submodule "lib/wz"]
	path = lib/wz
	url = https://github.com/fengb/wz
	branch = encode-return
[submodule "lib/analysis-buddy"]
	path = lib/analysis-buddy
	url = https://github.com/alexnask/analysis-buddy.git
	branch = master
